body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin-top: 200px;
}

.container {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute space evenly between containers */
    flex-wrap: wrap; /* Allow containers to wrap to the next line if needed */
    max-width: 1200px; /* Limit the width of the containers */
}

.poule {
    background: #fff;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px; /* Add margin between containers */
    flex: 0 0 calc(0% - 20px); /* Change to 33.33% for three containers */
}

.poule h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
